/* --------- reset --------- */

   * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: 'Lato', sans-serif;
      color: #3d3d3e;
      font-size: 15px;
   }
   .container {
      padding-right: 12px;
      padding-left: 12px;
      padding-top: 5rem;

   }
   .form-control:focus {
      color: #495057;
      background-color: #fff;
      border-color: #e9ecef;
      box-shadow: none;
   }
   /* ------------- Search ------------- */
   .search-form {
      width: 350px;
      height: 40px;
      border: 1px solid #eeeeee;
      border-radius: 10px;
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
      transform: translate(0%, 0%);
      background: #fff;
      transition: all 0.3s ease;
   }
   .search-form.focus {
      box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
   }
   .search-input {
      position: absolute;
      top: 10px;
      left: 38px;
      font-size: 14px;
      background: none;
      color: #5a6674;
      width: 195px;
      height: 20px;
      border: none;
      appearance: none;
      outline: none;
   }
   .search-input::-webkit-search-cancel-button {
      appearance: none;
   }
   .search-button {
      position: absolute;
      top: 10px;
      left: 15px;
      height: 20px;
      width: 20px;
      padding: 0;
      margin: 0;
      border: none;
      background: none;
      outline: none !important;
      cursor: pointer;
   }
   .search-button i {
      width: 20px;
      height: 20px;
      color: #7b7575;
   }
 /* ----------- End search ----------- */

/* ------------- Filter ------------- */
   .filter-input {
      width: 300px;
   }
/* ----------- End Filter ----------- */

/* ----------- Toggle ----------- */
.tgl {
   display: none;
 }
 .tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
   box-sizing: border-box;
 }
 .tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
   background: none;
 }
 .tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
   background: none;
 }
 .tgl + .tgl-btn {
   outline: 0;
   display: block;
   width: 4em;
   height: 2em;
   position: relative;
   cursor: pointer;
   -webkit-user-select: none;
      -moz-user-select: none;
       -ms-user-select: none;
           user-select: none;
 }
 .tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
   position: relative;
   display: block;
   content: "";
   width: 50%;
   height: 100%;
 }
 .tgl + .tgl-btn:after {
   left: 0;
 }
 .tgl + .tgl-btn:before {
   display: none;
 }
 .tgl:checked + .tgl-btn:after {
   left: 50%;
 }
 .tgl-flat + .tgl-btn {
   padding: 2px;
   transition: all .2s ease;
   background: #fff;
   border: 2px solid #d3d3d3;
   border-radius: 2em;
   margin-left: 3rem;
 }
 .tgl-flat + .tgl-btn:after {
   transition: all .2s ease;
   background: #d3d3d3;
   content: "";
   border-radius: 1em;
 }
 .tgl-flat:checked + .tgl-btn {
   border: 2px solid #7FC6A6;
 }
 .tgl-flat:checked + .tgl-btn:after {
   left: 50%;
   background: #7FC6A6;
 }
/* ----------- End Toggle ----------- */


img {
   border-radius: 10px;
   height: 50px;
   width: 80px;

 }

 div.material-table {
   padding: 0;
 }
 div.material-table table tr td {
   padding: 0 0 20px 56px;
   height: 48px;
   font-size: 13px;
   color: rgba(0, 0, 0, 0.87);
   border-top: solid 1px #DDDDDD;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   text-align: center;
 }
   div.material-table table tr {
      font-size: 12px;
   }
  div.material-table table th {
   font-size: 12px;
   font-weight: bold;
   color: #757575;
   cursor: pointer;
   white-space: nowrap;
   padding: 0;
   height: 56px;
   padding-left: 56px;
   vertical-align: middle;
   outline: none !important;
   text-align: center;
 }
 div.material-table table tbody tr:hover {
   background-color: #EEE;
 }
  div.material-table table th:first-child,
 div.material-table table td:first-child {
   padding: 0 0 0 24px;
 }
  div.material-table table th:last-child,
 div.material-table table td:last-child {
   padding: 0 14px 0 0;
 }